<header class="bar bar-nav">
		<h1 class="title">上音树莓</h1>
</header>
<div class="content">
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell">
        <a class="push-right" href="#teach/1" data-transition="slide-in">
          <strong>3D影像制作</strong>
        </a>
      </li>
      <li class="table-view-cell">
        <a class="push-right" href="#teach/2" data-transition="slide-in">
          <strong>虚拟交互设计</strong>
        </a>
      </li>
      <li class="table-view-cell">
        <a class="push-right" href="#teach/3" data-transition="slide-in">
          <strong>项目管理</strong>
        </a>
      </li>
      <li class="table-view-cell">
        <a class="push-right" href="#teach/4" data-transition="slide-in">
          <strong>媒体策略</strong>
        </a>
      </li>
    </ul>
  </div>
</div>